
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Coffee Time
    </ion-title>
  </ion-toolbar>
</ion-header>








<ion-content padding class="background">
  <ion-card-content color="medium">

    <ion-img src="/assets/coffee.jpg"></ion-img>
    
</ion-card-content>



<ion-button color="danger" shape="round" expand="full" (click)="onOrder()"> Place Order</ion-button>


</ion-content>


<ion-footer>
  <ion-toolbar color="danger">
    <ion-title>
      Coffee Time
    </ion-title>
  </ion-toolbar>
</ion-footer>
